.Store_container {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 30px
}

.buttonsforpages {
    margin-top: 36px;
    display: flex;
    justify-content: center;
}