.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #834AFD;
    color: #fff;
    z-index: 10;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    margin-right: 20px;
}

.links_01 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.icon_01 {
    margin-right: 20px;
    width: 45px;
    height: 45px;
}




@media screen and (max-width: 320px) {
    .navbar ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 1;
    }

    .navbar li {
        margin-right: 300px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

}