.product_card {
    flex-direction: column;
    display: flex;
    width: 260px;
    height: 330px;
    background: gray;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}

.product_card_image {
    all: unset;
    width: 100%;
    height: 50%;
    background: rgb(122, 95, 216);


}

.product_Card_button {
    top: 69px;
    left: 208px;
}